.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 46px 98px 51px;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
}

.header__links-list-item {
  list-style-type: circle;
  text-decoration: underline;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 135px;
  height: 102px;
}

.address {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 24px;
  max-width: 410px;
  list-style-type: none;
}

.header__address {
  padding-left: 150px;
}

.content {
  position: relative;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 757px;
  color: #ffffff;
  overflow: hidden;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  letter-spacing: 30px;
  font-size: 100px;
  text-transform: uppercase;
  gap: 20px;
  overflow: hidden;
}

.aligned-text {
  display: block;
  font-size: 100px;
}

.aligned-text_left {
  text-align: left;
  padding: 164px 0 17px 48px;
}

.aligned-text_center {
  text-align: center;
  padding: 0 0 17px 27px;
}

.aligned-text_right {
  text-align: right;
  padding: 0 18px 103px 0;
}

.cover__description {
  font-size: 22px;
  text-transform: uppercase;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 106px;
  padding: 3px 0 35px 50px;
  align-items: center;
}

.cover__description-text {
  word-spacing: 19px;
}

.letter-spacing-extended {
  word-spacing: 18px;
}

.bet-button {
  cursor: pointer;
  appearance: none;
  background: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  padding: 12px 31px;
  margin: 1px 1px 1px 1px;
}

.no-letter-spacing {
  word-spacing: 0px;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 118px 0 36px 24px;
}

.lots__heading {
  padding: 62px 0 27px 39px;
  margin-bottom: 0;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.lot {
  position: relative;
  z-index: 1;
  height: 596px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
}

.card__title__lots {
  font-size: 22px;
  color: #ffffff;
  padding: 50px 40px 0 40px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  color: #ffffff;
  padding: 0 39px 47px 39px;
  line-height: 120%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-size: 20px;
  padding: 31px 10px 87px 10px;
  margin-left: 30px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 312px 1fr;
  gap: 72px;
  align-items: start;
  padding-top: 30px;
}

.about__column__left {
  width: 334px;
  display: flex;
  justify-content: start;
  margin-left: 70px;
}

.about__logo {
  width: 244px;
  height: 244px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 68px 50px 66px 47px;
}

.about__logo-image {
  max-width: 100%;
  height: auto;
}

.about__column__right {
  width: 712px;
  padding: 102px 20px 20px 0;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0.2px;
  margin-top: 100px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  padding: 98px 0 98px 0;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu {
  display: flex;
  justify-self: center;
  padding: 0 11px 54px 12px;
  line-height: 12px;
}

.address__footer {
  padding: 63px 65px 25px 50px;
}

.footer__menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer__menu-list-item {
  margin: 8px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  justify-self: center;
  gap: 50px;
  padding: 0 0 69px 29px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
